$default-background-color: rgb(33, 35, 75);
$canvas-menu-bar-background-color: #161833;
$header-button-color: rgb(230, 46, 229);

body {
    background-color: $default-background-color;
    font-size: 18px;
    color: #DCDEE6;
}

button {
    margin-bottom: 10px;
    border-radius: 15%;
    padding: 10px;
}

canvas {
    background-color: $canvas-menu-bar-background-color;
}

.header {
    float: right;
    width: 80%;

    ul {
        list-style-type: none;
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        float: right;
        justify-content: flex-end;
        padding-right: 20px;
    }

    button {
        margin-left: 10px;
        border-color: $header-button-color;
        background-color: transparent;
        color: white;
        border-style: solid;
        border-width: 2px;
      }

    h1 {
        display: inline-block;
        padding-top: 25px;
        padding-left: 10px;
    }
}

.entry-selection {
    margin-top: 5%;
    margin-bottom: 5%;
    visibility: visible;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: $canvas-menu-bar-background-color;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;

    :hover {
        background-color: #424696;
    }
}

.view-wrapper {
    > div {
    float: left;
    }
}

.category-selection {
    width: 20%;
}

.chart-view {
    width: 70%;
    padding-left: 5%;
}

.button-chart-type {
    margin-right: 10px;
    border: none;
    color: white;
    background-image: linear-gradient(#433A65, #302A62);
}

#search-field {
    padding: 15px;

    input {
        width: 100%;
        line-height: 200%;
        background-color: $default-background-color;
        color: white;
        border-radius: 10px;
    }
}

#menu-bar-container {
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #060824;
}

#menu-bar-selection {
    cursor: grab;
    height: 90vh;
    overflow: auto;
}

#header-active {
    background-color: $header-button-color;
}

