body {
    background-color: rgb(33, 35, 75)
}
.general-view {
    padding: 1%;
    text-align: center;
}

.select-category:hover > .select-team {
    transition: 1000ms;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;


}
.select-category > h1 {
    margin: auto;
    width: 50%;
    background-color: red;
    border: 1px;
    border-style: groove;
}

.select-team {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
    padding: 1%;
    border: 1px;
    border-style: groove;
    font-size: large;
    background-color: rgba(185, 155, 174, 0.527);
}

canvas {
    background-color: antiquewhite;
}

.header {
    float: right;
}

.header > ul {
    list-style-type: none;
    margin: 10px;
    padding: 15px;
    overflow: hidden;
    
}

.header li {
    display: inline;
    padding: 10px;
}

.header h2 {
    display: inline;
    padding: 20px;
    background-color: rgb(230, 46, 229);
    border: 1px;
    border-style: solid;
    border-radius: 25%;
  }

.back-button {
    background-color: red;
    border: 1px;
    border-style: solid;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}