body {
    background-color: rgb(33, 35, 75)
}

#menu-bar-container {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #060824;

}

#menu-bar-selection {
    cursor: grab;
    height: 90vh;
    overflow: auto;
}

#search-field {
    padding-bottom: 5%;
}

#search-field > form > input {
    width: 100%;
    background-color: rgb(33, 35, 75);
    color: white;
    border-radius: 10px;
}

.view-wrapper > div {
    float: left;
}

.category-selection {
    width: 20%;
}

.chart-view {
    width: 70%;
    padding-left: 5%;
}

.view-wrapper {
    background-color: yellow;
}

.entry-selection {
    visibility: visible;
    padding: 1%;
    border: 1px;
    border-style: groove;
    font-size: large;
    background-color: rgba(185, 155, 174, 0.527);
}

.header {
    float: right;
}

.header > ul {
    list-style-type: none;
    margin: 10px;
    padding: 15px;
    overflow: hidden;
    
}

.header li {
    display: inline;
    padding: 10px;
}

.header h2 {
    display: inline;
    padding: 20px;
    background-color: rgb(230, 46, 229);
    border: 1px;
    border-style: solid;
    border-radius: 25%;
  }

.back-button {
    background-color: red;
    border: 1px;
    border-style: solid;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

canvas {
    background-color: antiquewhite;
}