@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

$default-background-color: rgb(33, 35, 75);
$menu-bar-background-color-canvas: #161833;
$menu-bar-background-color-main: #060824;
$header-button-color: rgb(230, 46, 229);

$secondary-color: #B1B5EF;
$default-border-radius: 15px;
$default-background-gradient: linear-gradient(#433A65, #302A62);
$reverse-background-gradient: linear-gradient(#302A62, #433A65);
$comparison-container-width: 80%;
$animation-speed: 500ms;

body {
    background-color: $default-background-color;
    font-size: 18px;
    color: #DCDEE6;
    font-family:'Poppins', sans-serif;
}

button {
    margin-bottom: 10px;
    border-radius: $default-border-radius;
    padding: 15px;
}

canvas {
    background-color: $menu-bar-background-color-canvas;
    position: absolute;
}

.header {
    padding-left: 15px;

    ul {
        list-style-type: none;
        padding-left: 0;
        margin: 25px 0px 0px 0px;
        display: flex;
    }

    h1 {
        color: $secondary-color;
        font-size: 34px;
        font-weight: 400;
    }

}

.button-header {

    margin-left: 10px;
    border-color: $header-button-color;
    background-color: transparent;
    color: white;
    border-style: solid;
    border-width: 2px;
    font-size: 15px;
    min-width: 140px;
}

.entry-selection {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: $menu-bar-background-color-canvas;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;

    &:hover {
        background-color: #424696;
    }
}

.chart-view {
    padding-left: 5%;
    padding-right: 5%;
}

.button-chart {
    margin-right: 10px;
    border: none;
    color: white;
    background-image: $default-background-gradient;
}
/*
#fade-out {
    animation-name: slide-out;
    animation-duration: $animation-speed;
}*/

#search-field {
    padding: 15px;

    input {
        width: 90%;
        line-height: 200%;
        background-color: $default-background-color;
        color: white;
        border-radius: 20px;
        padding-left: 20px;
    }
}

// Animations here should go to .category-selection
.menu-bar-container {
    position: relative;
    height: 75px;
    padding-top: 10px;

    background-color: $menu-bar-background-color-main;
    animation-name: slide-in;
    animation-duration: $animation-speed;    
}

.menu-bar-selection {
    background-color: $menu-bar-background-color-main;
    cursor: grab;
    padding: 10px;
    height: 90vh;
    overflow: scroll;
    scrollbar-color: $default-background-color $menu-bar-background-color-main;
}

#comparison-container {
    width: 25%;
    min-width: 200px;
    height: 20%;
    position: relative;
    z-index: 1;

    .button-chart {
        margin: 0px;
    }

    .menu-bar-selection {
        height: 70vh;    
    }

    #comparison-menu-bar {
        width: $comparison-container-width;
    }

    .menu-bar-container {
        border-radius: 20% 0% 0% 0%;

        background-image: $default-background-gradient;
    }

    .entry-selection {
        font-size: 15px;
    }

    #comparison-close {
        background-color: red;
        background-image: none;
        float: right;
        width: 20%;
        border-radius: 0% 50% 50% 0%;
        background-image: $default-background-gradient;

        img {
            width: 100%;
            min-width: 20px;
        }
    }
    #search-field { //Muuda id klassiks.
        padding: 0px 0px 15px 0px;
    }
}

   /* 
        See https://github.com/chartjs/Chart.js/issues/11005
        as to why there needs to be a container here.
    */
.chart-container {
    aspect-ratio: 2;
    min-height: 300px;
    height: 50vh;
    width: 100%;
}

#header-active {
    background-color: $header-button-color;
}

#chart-button-active {
    background-image: linear-gradient(#a495e0, #6a3c74);
}

@keyframes slide-in {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    } 
}

@keyframes slide-out {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    } 
}