/*TODO: Kuna kasutad CSS Modules teeki, muuda eraldi moodulite failideks*/

body {
    background-color: rgb(33, 35, 75);
    font-size: 18px;
    color: #DCDEE6;
}

#menu-bar-container {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #060824;

}

#menu-bar-selection {
    cursor: grab;
    height: 90vh;
    overflow: auto;
}

#search-field {
    padding-bottom: 5%;
}

#search-field input {
    width: 100%;
    line-height: 200%;
    background-color: rgb(33, 35, 75);
    color: white;
    border-radius: 10px;
}

.view-wrapper > div {
    float: left;
}

.category-selection {
    width: 20%;
}

.chart-view {
    width: 70%;
    padding-left: 5%;
}

.view-wrapper {
    background-color: yellow;
}

.entry-selection {
    margin-top: 5%;
    margin-bottom: 5%;
    visibility: visible;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #161833;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.entry-selection:hover {
    background-color: #424696;
}


.header {
    float: right;
}

.header-vertical-alignment {
    margin-top: 10px;
}

.header ul {
    list-style-type: none;
    margin: 10px;
    padding: 15px;
    overflow: hidden;   
}

.header li {
    display: inline;
    padding: 10px;
}

.header p {
    display: inline;
    padding: 15px;
    border-color: rgb(230, 46, 229);
    border-radius: 15%;
    border-style: solid;
    border-width: 3px;
  }

.header-active {
    background-color: rgb(230, 46, 229);
}

canvas {
    background-color: #161833;
}