@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

$default-background-color: rgb(33, 35, 75);
$menu-bar-background-color-canvas: #161833;
$menu-bar-background-color-main: #060824;
$header-button-color: rgb(230, 46, 229);
$secondary-color: #B1B5EF;
$default-border-radius: 15px;
$default-background-gradient: linear-gradient(#433A65, #302A62);
$comparison-container-width: 80%;
$animation-speed: 500ms;

.data-view-expanded {
    background-color: purple;
    width: 100vw;
}

body {
    background-color: $default-background-color;
    font-size: 18px;
    color: #DCDEE6;
    font-family:'Poppins', sans-serif;
}

button {
    margin-bottom: 10px;
    border-radius: $default-border-radius;
    padding: 15px;
}

canvas {
    background-color: $menu-bar-background-color-canvas;
    position: absolute;
}

.header {
    float: right;
    width: 80%;

    ul {
        list-style-type: none;
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        float: right;
        justify-content: flex-end;
        padding-right: 20px;
    }

    button {
        margin-left: 10px;
        border-color: $header-button-color;
        background-color: transparent;
        color: white;
        border-style: solid;
        border-width: 2px;
        font-size: 15px;
      }

    h1 {
        display: inline-block;
        padding-top: 25px;
        padding-left: 10px;
        color: $secondary-color;
        font-size: 34px;
        font-weight: 400;
    }
}

.entry-selection {
    margin-top: 5%;
    margin-bottom: 5%;
    visibility: visible;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: $menu-bar-background-color-canvas;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;

    &:hover {
        background-color: #424696;
    }
}

.view-wrapper {
    > div {
    float: left;
    }
}

// See nulli
.category-selection {
    width: 20%;
}

.chart-view {
    width: 70%;
    padding-left: 5%;
}

.button-chart {
    margin-right: 10px;
    border: none;
    color: white;
    background-image: $default-background-gradient;
}

#fade-out {
    animation-name: slide-out;
    animation-duration: $animation-speed;
}

#search-field {
    padding: 15px;

    input {
        width: 100%;
        line-height: 200%;
        background-color: $default-background-color;
        color: white;
        border-radius: 20px;
        padding-left: 20px;
    }
}

.menu-bar-container {
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: $menu-bar-background-color-main;
    animation-name: slide-in;
    animation-duration: $animation-speed;    
}

.menu-bar-container-extended {
    width: 100vw;    
    animation-name: slide-full;
    animation-duration: $animation-speed;   
}

.menu-bar-container-collapsed {
    animation-name: slide-out;
    animation-duration: $animation-speed;   
    width: 0vw;
    padding: 0%;
}

.menu-bar-selection {
    cursor: grab;
    height: 90vh;
    overflow: auto;
}

#comparison-container {
    width: 25%;
    height: 20%;
    float: right;
    position: relative;
    z-index: 1;

    .button-chart {
        margin: 0px;
        float: right;
    }

    .menu-bar-selection {
        height: 70vh;    
    }

    #comparison-menu-bar {
        float: right;
        width: $comparison-container-width;
    }

    .menu-bar-container {
        background-image: $default-background-gradient;
    }

    .entry-selection {
        font-size: 15px;
    }

    #comparison-close {
        background-color: red;
        background-image: none;
        float: left;
        width: 20%;
        border-radius: 50% 0% 0% 50%;
        background-image: $default-background-gradient;

        img {
            width: 100%;
        }
    }
    #search-field { //Muuda id klassiks.
        padding: 0px 0px 15px 0px;
    }
}

#header-active {
    background-color: $header-button-color;
}

#chart-button-active {
    background-image: linear-gradient(#a495e0, #6a3c74);
}

@keyframes slide-in {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    } 
}

@keyframes slide-full {
    from {
        width: inherit;
    }
    to {
        width: 100vw;
    } 
}

@keyframes slide-out {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    } 
}